html, body, #map, #slides, .slide {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#map {
	transition: 1s filter linear;
}

#slides, .slide {
	position: absolute;
	top: 0;
	left: 0;
}

audio {
	display: none;
}

img.cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

img.contain {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.slide {
	display: none;
	opacity: 0;
	background: rgba(255, 255, 255, 0.7);
	transition: opacity 1s linear;
}

.slide.current {
	display: block;
	opacity: 1;
}

#slide-1 * {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
