* {
	box-sizing: border-box;
}

html, body, #map, #slides, .slide {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	font-size: 20vh;
	margin: 4vh;
}
h2 {
	font-size: 12vh;
	margin: 2.4vh;
}
h3 {
	font-size: 8vh;
	margin: 1.6vh;
}

.faded {
	opacity: 0.2;
	transition: opacity 1s;
}

#map {
	transition: 3s filter linear;
}

#slides, .slide {
	position: absolute;
	top: 0;
	left: 0;
}

audio {
	display: none;
}

img.cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

img.contain {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.slide {
	display: none;
	opacity: 0;
	background: rgba(255, 255, 255, 0.33);
	transition: opacity 3s linear;
	font-family: sans-serif;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slide.current {
	display: flex;
	opacity: 1;
}

.slide.slide-bg-white {
	background: white;
}

.slide.slide-bg-black {
	background: black;
}

#slide-0 h1 {
	font-size: 15vh;
	font-style: italic;
	font-family: serif;
}

#slide-1 {
	font-family: "BarloesiusSchrift";
}

#mac-se30 {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
}

#guitar-spanish {
	padding: 10%;
}

#comics {
	padding-top: 20%;
}

#football-tricolore {
	padding: 20%;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	transition: top 25s linear;
}

#ti89 {
	padding: 10%;
}

#guitar-duesenberg {
	padding: 10%;
	transform: rotate(-30deg);
}

#mfb-synth-ii {
	padding: 10%;
}

#axa {
	position: absolute;
	left: 8.75%;
	width: 82.5%;
	height: 100%;
}

#slide-15 * {
	font-size: 10vh;
	padding: 3vh;
}

#slide-17 * {
	width: 100%;
	padding: 2vh 5vh;
	font-size: 10vh;
}

#slide-17 :nth-child(1) {
	height: calc(100% * 90 / 180);
	background: rgba(94, 156, 205, 1);
}

#slide-17 :nth-child(2) {
	height: calc(100% * 30 / 180);
	background: rgba(94, 156, 205, 0.5);
}

#slide-17 :nth-child(3) {
	height: calc(100% * 30 / 180);
	background: rgba(225, 216, 160, 1);
}

#slide-17 :nth-child(4) {
	height: calc(100% * 30 / 180);
	background: rgba(225, 216, 160, 0.5);
}

#slide-21 * {
	padding: 2vh;
}

#slide-21 :nth-child(1) {
	height: 30%;
}

#slide-21 :nth-child(2) {
	height: 70%;
}

#slide-24 * {
	object-position: 50% 12%;
}

#slide-26 ol {
	position: absolute;
	right: 5vw;
	bottom: 5vh;
	padding: 1em;
	list-style: none;
	text-align: left;
	font-size: 5vh;
	background: rgba(255, 255, 255, 0.67);
}

#slide-26 a {
	color: black;
}
